
@{
    ViewBag.Title = "Index";
}
@model SudokuUI.ViewModel.SudokuViewModel
<h2>Sudoku</h2>

<button onclick="sovle()">sovle</button>

@Html.ActionLink("new game","index")

<table class="table table-bordered">
    @for (int i = 0; i < 9; i++)
    {
        <tr>
            @for (int j = 0; j < 9; j++)
            {

                <td id="c@(i.ToString()+j.ToString())" class="text-center"></td>
            }

        </tr>
    }
</table>


@section scripts{
    <script>
        var gameData = null;
        var gameDataBackup = null;
        function sovle() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("sovleSudoku", "Sudoku")',
                data: { dataJson: gameData.board },
                success: function (data) {
                    gameData = JSON.parse(data)
                    for (i = 0; i < 9; i++) {
                        for (j = 0; j < 9; j++) {
                            if (0 < gameData.board[i][j]) {
                                if (0 == gameDataBackup.board[i][j]) {
                                    $('#c' + i + j).html("<p style=\"color:#FF0000\";>" + gameData.board[i][j] + "</p>");
                                }
                                else {
                                    $('#c' + i + j).text( gameData.board[i][j] );
                                }

                            }
                        }
                    }
                }
            });
        }


        $(function () {
            $.ajax({
                url: '@Url.Action("GetSudokuBoardData", "Sudoku")',
                success: function (data) {
                    gameData = JSON.parse(data)
                    gameDataBackup = JSON.parse(data)
                    for (i = 0; i < 9; i++) {
                        for (j = 0; j < 9; j++) {
                            if (0 < gameData.board[i][j]) {
                                $('#c' + i + j).text(gameData.board[i][j]);
                            }
                        }
                    }
                }
            });
        });
    </script>

}
